.signInScreen {
    max-width: 300px;
    left: 50%;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

.signInScreen form {
        display: flex;
        flex-direction: column; 
}

.signInScreen form input{
    margin-bottom: 14px;
    padding:5px 15px;
    outline-width: 0;
    outline: none;
    
    border: none;
    cursor: pointer;
    height: 30px;
    max-width: 600px;
    border-radius: 3px;

}
.signInScreen form button {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    border: 4px;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color:#e50914 ;
}

.signInScreen form h4 {
    text-align: center;
    margin-top:30px;
}
.signInScreen__gray{

    color: gray;
}
.signInScreen__link:hover{
    text-decoration: underline;
    cursor: pointer;
}